.logo1{
    margin-left: 70px;
}
.d-flex{
    margin-left:40px;

}
.tags{
    margin-inline: 50px;
}
   .seabtn{
    margin-top:10px;
    margin-left: 100px;
    position: absolute;
    z-index: 100;
}
.heartbtn{
    margin-top: -10px;
    margin-left: 13px;
}
.cartbtn{
    margin-top: -10px;
    margin-left: 13px;
}
.homeimg{
    margin-top:80px;
    margin-left: 755px;
}
.head{
    margin-top: -200px;
    padding-left: 100px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(34,114,87);
}
.Head1{
    margin-top:8px;
    padding-left: 95px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.grt{
    color:rgb(34,114,87);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size:70px;  
}
.text{
    font-size: 20px;
    margin-top: 14px;
    margin-left:99px ;
    font-family: Arial, Helvetica, sans-serif;
}
.shop{
    background-color:#008044fd;
    color: white;
    height: 40px;
    width: 110px;
    font-size: 20px;
    border-color: rgb(34,114,87);
    border-radius: 8px;
    margin-left: 110px;
    margin-top: 10px;
}
.head-2{
    font-size: 20px;
    margin-left: 70px;
    margin-top:140px;
}
.pic-1{
    border: 1px solid rgb(57,88,57);
    border-radius: 15px;
    margin-bottom: 10px;
}
.one{
    padding-top: 100px;
    padding-left: 90px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cards{
     width: auto;
     height:auto;
     display:flex;
     margin-left:55px;
    }
    .flex{
        width:235px;
        height:230px;
        border-radius: 15px;
        border: 1px solid  rgba(7, 216, 146, 0.575);
        margin:18px;
        margin-right: 20px;
        line-height: 230px;
        font-size: 20px;
        text-align: center;
        justify-content: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
.pic-1{
    position: absolute;
    margin-top: -220px;
    margin-left:6px;
    text-align: center;
    justify-content: center;
    display:flex;
    border-radius: 3px solid white;
}
.pic-1:hover{
    transform: scale(1.1);
}
.pic-2{
    position: absolute;
    margin-top: -220px;
    margin-left:6px;
    text-align: center;
    justify-content: center;
    display:flex;
    border-radius: 7px;
}
.pic-2:hover{
    transform: scale(1.1);
}
.pic-3{
    position: absolute;
    margin-top: -220px;
    margin-left:6px;
    text-align: center;
    justify-content: center;
    display:flex;
    border-radius: 10px;
}
.pic-3:hover{
    transform: scale(1.1);
}
.pic-4{
    position: absolute;
    margin-top: -220px;
    margin-left:6px;
    text-align: center;
    justify-content: center;
    display:flex;
    border-radius: 10px;
}
.pic-4:hover{
    transform: scale(1.1);
}
.pic-5{
    position: absolute;
    margin-top: -220px;
    margin-left:6px;
    text-align: center;
    justify-content: center;
    display:flex;
    border-radius: 10px;
}
.pic-5:hover{
    transform: scale(1.1);
}
.pic-6{
    position: absolute;
    margin-top: -220px;
    margin-left:6px;
    text-align: center;
    justify-content: center;
    display:flex;
    border-radius: 10px;
}
.pic-6:hover{
    transform: scale(1.1);
}
.two{
    background-color:darksalmon;
    color: white;
    height: 40px;
    width: 110px;
    font-size: 20px;
    border-color: black;
    border-radius: 3px;
    margin-left: 70px;
    margin-top: 10px;
}
.two:hover{
    transform: scale(1.1);
}
.three{
    background-color: whitesmoke;
    color: black;
    height: 40px;
    width: 110px;
    font-size: 20px;
    border-color: black;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 10px;
}
.three:hover{
    transform: scale(1.1);  
}
.four{
    background-color:whitesmoke;
    color: black;
    height: 40px;
    width: 140px;
    font-size: 20px;
    border-color: black;
    border-radius: 3px;
    margin-left:9px;
    margin-top: 50px;
}
.four:hover{
    transform: scale(1.1);
}
.cards-1{
    width: auto;
    height:auto;
    display: flex;
    margin-left:60px;
    flex-wrap:wrap;
    position: absolute;
    top:1020px;
}
.flex-1{
    display: flex;
    width:270px;
    height:370px;
    border-radius: 30px;
    border: 1px solid  rgba(7, 216, 171, 0.349);
    margin:20px;
    margin-top:60px;
    line-height:540px;
    font-size: 16px;
    color: rgba(82, 81, 81, 0.774);
    padding-left: 40px;
    text-align: left;
    justify-content:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
.pic-7{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-8{
    position:absolute;
    border-radius: 15px;
}
.pic-7:hover{
    opacity: 2px;
}   
.pic-9{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-9:hover{
    transform:scale(1.1);
}
.pic-10{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-11{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-12{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-13{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-14{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pat{
    width: auto;
    height:auto;
    display: flex;
    margin-left:-57px;  
    bottom:420px;
    position: relative;
   }
.feat{
   margin:80px;
   line-height: 480px;
   font-size: 17px;
   color:black;
   padding-left: 10px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cards-2{
    width: auto;
    height:auto;
    display: flex;
    margin-left:3px;
    flex-wrap:wrap;
    position: absolute;
    top:390px;
}
.flex-2{
    display: flex;
    width:270px;
    height:370px;
    border-radius: 30px;
    border: 1px solid  rgba(7, 216, 171, 0.349);
    margin:20px;
    margin-top:60px;
    line-height:540px;
    font-size: 18px;
    color: rgba(82, 81, 81, 0.774);
    padding-left: 40px;
    text-align: left;
    justify-content:left;
    font-family: Arial, Helvetica, sans-serif;
 }
 .pic-15{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-16{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-17{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-18{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-19{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-20{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-21{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-22{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pat-1{
    width: auto;
    height:auto;
    display: flex;
    margin-left:-57px;  
    bottom:630px;
    position: relative;
   }
.feat-1{
   margin:80px;
   line-height: 400px;
   font-size: 17px;
   color:black;
   padding-left: 8px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.prize{
    display: flex;
    position: absolute;
    margin-left:1px;
    flex-wrap:wrap;
    top:-80px;
    justify-content: space-between;
    gap:90px;   
}
.money{
    padding-left:80px;
    font-size: 23px;
    color: rgb(25, 167, 136);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
.prize-1{
    display: flex;
    position: absolute;
    margin-left:1px;
    flex-wrap:wrap;
    top:300px;
    justify-content: space-between;
    gap: 90px;   
}
.money-1{
    padding-left:80px;
    font-size: 23px;
    color: rgb(25, 167, 136);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
.deal-1{
    height:520px;
    width:620px;
    position: absolute;
    margin-left: -840px;
    margin-top: 430px;
}
.deal-2{
    height: 520px;
    width: 620px;
    position: absolute;
    margin-left:-210px;
    margin-top: 430px;
}
.letters1{
    padding-left:130px;
    position: relative;  
    margin-top:-180px;
}
#deal1{
     font-size:30px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: rgb(25, 167, 136);
     font-weight:550;
     margin-top: 650px;
     margin-left:-935px;
}
#limited1{
    position:absolute;
    margin-top: -15px;
    margin-left:-933px ;
    font-size:19px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(92, 90, 90);
}
#summer1{
    position:absolute;
    margin-top: 28px;
    margin-left: -935px;
    font-size: 25px;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
#dollar1{
    position:absolute;
    margin-top:110px;
    margin-left:-935px;
    font-size:25px;
    font-weight: 550;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(236, 2, 111);
}
#hurry1{
    position:absolute;
    margin-top:170px;
    margin-left: -935px;
    font-size:21px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(92, 90, 90);
}
.time1{
    top:210px;
    position: relative;
    margin-left:-935px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-content:center;
    justify-content:left;
}
#days1{
    display: flex;
    background-color:rgb(7, 139, 95);
    color: white;
    border-radius: 2px;
    height:50px;
    width:60px;
    padding-left:17px;
    font-size: 23px;
    padding-top: 5px;
}
#hours1{
    display: flex;
    background-color:rgb(7, 139, 95);
    color: white;
    border-radius: 2px;
    height:50px;
    width:60px;
    padding-left:17px;
    font-size: 23px;
    padding-top: 5px;
}
#mins1{
    display: flex;
    background-color:rgb(7, 139, 95);
    color: white;
    border-radius: 2px;
    height:50px;
    width:60px;
    padding-left:17px;
    font-size: 23px;
    padding-top: 5px;
}
#sec1{
    display: flex;
    background-color:rgb(7, 139, 95);
    color: white;
    border-radius: 2px;
    height:50px;
    width:60px;
    padding-left:17px;
    font-size: 23px;
    padding-top: 5px;
}
.weektime1{
    top:215px;
    position: relative;
    margin-left:-1100px;
    display: flex;
    flex-direction: row;
    gap:30px;
    align-content:center;
    justify-content:left;
}
#qout1{
    display: flex;
    color:rgb(7, 139, 111);
    padding-left:78px;
    font-size: 25px;
    padding-top: 15px;
}
.weeknames1{
    top:53px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap:40px;
    align-content:center;
    justify-content:left;
    margin-left:-935px;
}
#name1{
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.shop1{
    top:80px;
    position: relative;
    margin-left:-935px;
    display: flex;
    border: 2.5px solid rgb(7, 139, 111);
    color:rgb(7, 139, 111) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 150px;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius:5px;
    font-size: 20px;
 }                                                                                                                
 .letters2{
     padding-left:1000px;
     position: relative;  
     margin-top:-330px;
 }
 #del2{
    font-size:26px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(25, 167, 136);
    font-weight:600;
    margin-left: -1390px;
    margin-top: 805px;
}
#limited2{
   position:absolute;
   margin-top: -10px;
   margin-left: -1390px;
   font-size:20px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:rgb(92, 90, 90);
}
#summer2{
    position:absolute;
    margin-top:30px;
    margin-left: -1390px;
    font-size:25px;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
#dollar2{
    position:absolute;
    margin-top:115px;
    margin-left: -1390px;
    font-size:25px;
    font-weight: 550;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(236, 2, 111);
}
#hurry2{
    position:absolute;
    margin-top:175px;
    margin-left: -1390px;
    font-size:22px;
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(92, 90, 90);
}
.time2{
    top:210px;
    position: relative;
    margin-left:-1390px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content:center;
    justify-content:left;   
}
#days2{
    display: flex;
    background-color:rgb(7, 139, 95);
    color: white;
    border-radius: 2px;
    height:50px;
    width:60px;
    padding-left:17px;
    font-size: 23px;
    padding-top: 5px;
}
#hours2{
    display: flex;
    background-color:rgb(7, 139, 95);
    color: white;
    border-radius: 2px;
    height:50px;
    width:60px;
    padding-left:17px;
    font-size: 23px;
    padding-top: 5px;
}
#mins2{
    display: flex;
    background-color:rgb(7, 139, 95);
    color: white;
    border-radius: 2px;
    height:50px;
    width:60px;
    padding-left:17px;
    font-size: 23px;
    padding-top:5px;
}
#sec2{
    display: flex;
    background-color:rgb(7, 139, 95);
    color: white;
    border-radius: 2px;
    height:50px;
    width:60px;
    padding-left:17px;
    font-size: 23px;
    padding-top: 5px;
}
.weektime2{
    top:150px;
    position: relative;
    margin-left:-1415px;
    display: flex;
    flex-direction: row;
    align-content:center;
    justify-content:left;
}
#qout2{
    display: flex;
    color:rgb(7, 139, 95);
    padding-left:90px;
    font-size: 25px;
    padding-top: 15px;
}
.weeknames2{
    top:160px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap:38px;
    align-content:center;
    justify-content:left;
    margin-left:-1390px;
}
#name2{
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.shop2{
    top:185px;
    position: relative;
    margin-left:-1390px;
    display: flex;
    border:2px solid rgb(7, 139, 111);
    color:rgb(7, 139, 111) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 150px;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius:5px;
    font-size: 20px;
 }                                                                                                                
 .Head3{
margin-left: 10px;
 }
 .cards-3{
    width: auto;
    height:auto;
    display: flex;
    margin-left:60px;
    flex-wrap:wrap;
    position: absolute;
    top:970px;
}
.flex-3{
    display: flex;
    width:270px;
    height:370px;
    border-radius: 25px;
    border: 1px solid  rgba(7, 216, 171, 0.349);
    margin:20px;
    margin-top:60px;
    line-height:540px;
    font-size: 16px;
    color: rgba(82, 81, 81, 0.774);
    padding-left: 40px;
    text-align: left;
    justify-content:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
.pic-23{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-23:hover{
    opacity: 2px;
}   
.pic-24{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-25:hover{
    transform:scale(1.1);
}
.pic-25{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-26{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-27{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-28{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pic-29{
    position: absolute;
    margin-top: 10px;
    margin-left:-29px;
    border-radius: 10px;
    line-height: 50px;
}
.pat-2{
    width: auto;
    height:auto;
    display: flex;
    margin-left:-57px;  
    bottom:420px;
    position: relative;
   }
.feat-2{
   margin:80px;
   line-height: 480px;
   font-size: 17px;
   color:black;
   padding-left: 10px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.login{
    margin-left: -90px;
    background-color: hsl(0, 0%, 89%);
  }
.login1{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 200px;
    font-weight: 400;
    font-size: 20px;
    color: rgb(57, 88, 57);
    border: 1px solid rgb(194, 244, 216);
}
h1{
    font-size: 25px;
    font-weight: 550;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login-box{
    border: 1px solid hsl(0, 1%, 86%);
    width: 550px;
    height:300px;
    padding: 30px;
    margin-top: 60px;
    border-radius: 5px;
    margin-left: 120px;
}
.email{
    padding: 10px;
    margin-top: 15px;
    width: 490px;
    height: 50px;
    border: 1px solid hsl(0, 1%, 86%);
    border-radius: 3px;
    padding-left: 15px;
    margin-left: 1px;
    font-size: 20px;
}
.password{
    padding: 10px;
    width: 490px;
    height:50px;
    border: 1px solid hsl(0, 1%, 86%);
    border-radius: 3px;
    padding-left: 15px;
    font-size: 20px;
    margin-left: 2px;
    margin-top: -10px;
}
.loginbtn{
    border: none;
    border-radius: 3px;
    background-color: rgb(0, 128, 68);
    color: white;
    padding: 10px;
    font-weight: 650px;
    font-size: 22px;
    height:55px;
    width:115px;
    margin-top: -5px;
    margin-left: 2px;
}
.account-box{
    border: 0.5px solid hsl(0, 1%, 86%);
    width: 600px;
    height:420px;
    padding: 30px;
    margin-top: -300px;
    border-radius: 8px;
    position: absolute;
    margin-left: 690px; 
}
h2{
    margin-left: 5px;
    margin-top: -10px;
    font-weight: 500;
}
.account{
    padding: 10px;
    margin-top: 10px;
    width: 530px;
    height:50px;
    font-size: 20px;
    border: 1px solid hsl(0, 1%, 86%);
    border-radius: 5px;
    padding-left: 15px;
    margin-left: 5px;
}
.account-1{
    padding: 10px;
    margin-top: -5px;
    width: 530px;
    height:50px;
    font-size: 20px;
    border: 1px solid hsl(0, 1%, 86%);
    border-radius: 5px;
    padding-left: 15px;
    margin-left: 5px;
}
.password-1{
    padding: 10px;
    margin-top: -5px;
    width: 530px;
    height:50px;
    font-size: 20px;
    border: 1px solid hsl(0, 1%, 86%);
    border-radius: 5px;
    padding-left: 15px;
    margin-left: 5px;
}
.password-2{
    padding: 10px;
    margin-top: -6px;
    width: 530px;
    height:50px;
    font-size: 20px;
    border: 1px solid hsl(0, 1%, 86%);
    border-radius: 5px;
    padding-left: 15px;
    margin-left:5px;
}
.loginbtn1{
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 128, 68);
    color: white;
    font-size: 20px;
    font-weight: 400;
    height:50px;
    width:200px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 5px;
    margin-top: -7px;
}
