.abc{
    margin-left: 50px;
    /* margin-right: 20px; */
    /* width: 1200px; */
}
section{
  margin-right: 20px;
}
.d-flex{
    width: 300px;
}
.tags{
    margin-inline: 50px;
}
.seabtn{
     margin-top: 8px;
     margin-left: 265px;   
     position: absolute; 
     z-index: 500;
}
.likebtn{
    font-size: 9px;
    margin-top: 5px; 
    margin-left: -10px;
    /* position: absolute;
    z-index: 500; */
    background-color: teal;
}
.likeimg{
    margin-top: -10px;

}
.cartbtn{
    margin-top: -10px;
}
/* main section */
.log{
    margin-left: -50px;
    background-color: hsl(0, 0%, 89%);
  }

  .login{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 15px;
    color: rgb(57, 88, 57);
    word-spacing: 15px;
    /* border: 1px solid rgb(194, 244, 216); */

  }
  .loginbox{
    border: 0.5px solid hsl(0, 1%, 86%);
    width: 685px;
    padding: 30px;
    margin-top: 30px;
    border-radius: 8px;
    margin-left: 30px;
  }
  .email{
    padding: 10px;
    margin-top: 20px;
    width: 620px;
    border: 0.5px solid hsl(0, 1%, 86%);
    border-radius: 3px;
    padding-left: 15px;
    margin-left: 12px;
  }
  .emails{
    padding: 10px;
    width: 620px;
    border: 0.5px solid hsl(0, 1%, 86%);
    border-radius: 3px;
    padding-left: 15px;
    margin-left: 12px;
  }
  h3{
    margin-left: 12px;
  }
  .logbtn{
    border: none;
    border-radius: 4px;
    background-color: teal;
    color: white;
    padding: 10px;
    font-weight: 500px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 12px;
  }
  .loginbox1{
    border: 0.5px solid hsl(0, 1%, 86%);
    width: 685px;
    padding: 30px;
    margin-top: -310px;
    border-radius: 8px;
    position: absolute;
    margin-left: 740px; 
  }
  .account{
    padding: 10px;
    margin-top: 20px;
    width: 600px;
    border: 0.5px solid hsl(0, 1%, 86%);
    border-radius: 3px;
    padding-left: 15px;
    margin-left: 12px;
  }
  .account1{
    padding: 10px;
    /* margin-top: 20px; */
    width: 600px;
    border: 0.5px solid hsl(0, 1%, 86%);
    border-radius: 3px;
    padding-left: 15px;
    margin-left: 12px;
  }
  .account2{
    padding: 10px;
    /* margin-top: 20px; */
    width: 600px;
    border: 0.5px solid hsl(0, 1%, 86%);
    border-radius: 3px;
    padding-left: 15px;
    margin-left: 12px;
  }
  .account3{
    padding: 10px;
    /* margin-top: 20px; */
    width: 600px;
    border: 0.5px solid hsl(0, 1%, 86%);
    border-radius: 3px;
    padding-left: 15px;
    margin-left: 12px;
  }
  /* Footer */
  .footer{
    margin-top: 200px;
    background-color: rgb(159, 200, 200);
    margin-left: -50px;
    margin-right: -20px;
    height: 100px;
  }
  .emaimg{
    margin-left: 50px;
    margin-top: 10px;
  }
  .foot1{
    margin-left: -300px;
    margin-top: 21px;
    font-weight: 600;
    word-spacing: -1px;
    
  }
  .emailbox{
    border-radius: 0px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 350px;
    margin-left: -150px;
    font-size: small;
    padding: 10px;
    padding-left:20px;
  }
  .foot2{
    margin-top: 5px;
    font-weight: 600;
    word-spacing: -1px;
  }
  .subbox{
    background-color: black;
    color: white;
    border-radius: 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: small;
  }
  .footerpart{
    margin-top: 5px;
  }
  .foot6{
    margin-top: 30px;
    line-height: 50px;
    color: gray;
    font-weight: 600;
    font-size: medium;
  }
  .foot4{
    font-weight: 500;
    color: rgb(57, 88, 57);
  }
  .foot5{
    font-size: medium;
    line-height: 30px;
    margin-top: -50px;
    color: rgb(57, 88, 57);
  }
  .foot7{
    color: gray;
    margin-top: 25px;
    font-weight: 600;
    font-size: medium;
  }
  .footicons{
    width: 150px;
    display: flex;
    justify-content: space-between;
    filter: brightness(3) invert(1);
  }
  .footset{
    margin-left: 520px;
    margin-top: -280px;
  }
  .footset1{
    margin-top: 20px;
  }
  .footset2{
    margin-left: 830px;
    margin-top: -285px;
  }
  .footpay{
    margin-left: 1100px;
    margin-top: -285px;
  }
  .footpay img{
    margin-top: 20px;
  }
  .footimg{
    margin-top: 50px;
}
.copyright{
  margin-top:210px;
  margin-left: 50px;
}

#design{
  margin-left: 790px;
}